// =====================================================================
// Global
// =====================================================================

html {
}

html,
body {
    margin: 0;
    padding: 0;
    min-width: 320px;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

ol li,
ul li {
    list-style-type: none;
}


.ghost {
    position: relative;
    visibility: hidden;
    height: 0;
    width: 0;
    overflow: hidden;
}

a {
    color: $color-black;
    text-decoration: none;

    .no-touchevents & {
        &:hover {
        }
    }

}
