// ========================================================================
// Helper Classes
// ========================================================================
.btn-reset {
    background:none;
    border:none;
    padding:0;
    margin: 0;
    outline: none;
    cursor: pointer;
}
.input-reset {
    margin:0;
    border:0;
    padding:0;
    display:inline-block;
    vertical-align:middle;
    white-space:normal;
    background:none;
    line-height:1;
}
.counter-reset {
    counter-reset: section;
}
.counter-reset-no {
    &:before {
        counter-increment: section;
        content: counter(section);
    }
}
.bg-white {
    background-color: $color-white;
}
.overflow-hidden {
    overflow: hidden;
}
.list-revert {
    padding-left: 30px;
    > li {
        list-style-type: initial;
    }
}
.valign-t {
    vertical-align: top;
}
.valign-m {
    vertical-align: middle;
}
.valign-b {
    vertical-align: bottom;
}
.full-height {
    height: 100%;
}
.full-width {
    width: 100%;
}
.img-sharpen {
    transform: translateZ(0);
}
.img-fullwidth {
    width: 100%;
}
.tablefix {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}
.tablefix-cell {
    display: table-cell;
    vertical-align: middle;
}
.tablefix-cell-content {
    position: relative;
}
.margin-h-auto {
    margin-left: auto;
    margin-right: auto;
}
.no-margin {
    margin-left: 0;
    margin-right: 0;
}
.no-padding {
    padding-left: 0;
    padding-right: 0;
}
.talign-center {
    text-align: center;
}
.talign-left {
    text-align: left;
}
.talign-right {
    text-align: right;
}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
.italic {
    font-style: italic;
}
.bold {
    font-style: bold;
}
.underline {
    text-decoration: underline;
}
.float-l {
    float: left;
}
.float-r {
    float: right;
}
// Clearfix
// --------
// For clearing floats like a boss h5bp.com/q
.clearfix {
    *zoom: 1;

    &:before,
    &:after {
        display: table;
        content: "";
        // Fixes Opera/contenteditable bug:
        // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
        line-height: 0;
    }

    &:after {
        clear: both;
    }
}
