// =====================================================================
// Layout
// =====================================================================


@mixin create-row() {
    @include font-size(0,'normal');
    width: 100%;
}
@mixin create-col($columns) {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    @include font-size(1.3,'normal');
    width: percentage((1/12)*$columns);
}
@mixin create-col-offset($columns, $right:0) {
    margin-left: percentage((1/12)*$columns);

    @if #{$right} != 0 {
        margin-right: percentage((1/12)*$right);
    }
}
@mixin create-table-layout($columns, $class) {

    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    > * {
        width: 100%;
        vertical-align: top;
        display: block;
        width: 100%;
    }
    @if $class == xs {
        @include breakpoint(xs) {
            display: table;
            table-layout: fixed;
            > * {
                display: table-cell;
                width: percentage((1/12)*$columns);
            }
        }
    }
    @else if $class == sm {
        @include breakpoint(sm) {
            display: table;
            table-layout: fixed;
            > * {
                display: table-cell;
                width: percentage((1/12)*$columns);
            }
        }
    }
    @else if $class == md {
        @include breakpoint(md) {
            display: table;
            table-layout: fixed;
            > * {
                display: table-cell;
                width: percentage((1/12)*$columns);
            }
        }
    }
    @else if $class == lg {
        @include breakpoint(lg) {
            display: table;
            table-layout: fixed;
            > * {
                display: table-cell;
                width: percentage((1/12)*$columns);
            }
        }
    }
    @else {
        @warn "xs sm md lg";
    }

}

@mixin create-grid($class) {
    @for $i from 1 through 12 {
        .c-#{$class}-#{$i} {
            @include breakpoint(xs) {
                @include create-col($i);
            }
        }
    }
}



// custom row and col
.r {
    @include create-row();
}
    @include create-grid(xs);
    @include breakpoint(sm) {
        @include create-grid(sm);
    }
    @include breakpoint(md) {
        @include create-grid(md);
    }
    @include breakpoint(lg) {
        @include create-grid(lg);
    }
