// =====================================================================
// Typography ( t )
// =====================================================================
// General type styles, site-wide.
// Typography-related styles go here, e.g link styles / heading sizes in a particular component


// @font-face {
// 	font-family: 'HoratioLT-Light';
// 	src: url('./fonts/HoratioLT-Light.eot?') format('eot'),
// 	     url('./fonts/HoratioLT-Light.woff') format('woff'),
// 	     url('./fonts/HoratioLT-Light.ttf')  format('truetype'),
// 	     url('./fonts/HoratioLT-Light.svg#HoratioLT-Light') format('svg')
// }


html {
    font-size: 62.5%;
}
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {


}

h2 {

}

h3 {

}

p {

}


